
html {
  min-height: 100%;
}

body {
  background-image: url('./andrew_tape.png');
  background-size: cover;
  min-height: 100vh;
  margin: 0;
}

.social {
margin: 5vh 0 0 92vw;
}

/* .name {
  color: rgb(44, 36, 37);
  padding-top: 38vh;
  font-family: 'Rock Salt', sans-serif;
  font-size: 2em;
  text-align: center;
} */

.footer {
  width: 100%;
  position: fixed;
  bottom: 10px;
  text-align: center;
  color: rgba(78, 76, 76, 0.5);
  font-family: 'Bebas Neue', cursive;
  font-size: .75em;
}