
html {
  min-height: 100%;
}

body {
  background-image: url('./images/phil-sheldon-tone-medium.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  margin: 0;
}

.social {
margin: 5vh 0 0 90vw;
}

main {
  /* margin: -12vh 0 0 5vw; */
  margin: 6vh 0 0 5vw;
  color: rgb(49, 127, 138);
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
}

iframe {
  bottom: 3.5%;
  left: 2.5%;
  right: 2.5%;
  width: 94%;
  height: 80px;
  position: absolute;
  z-index: 3;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 8px;
  text-align: center;
  color: rgba(126, 122, 122, 0.5);
  font-family: 'Bebas Neue', cursive;
  font-size: .75em;
}

/* /////// Media Queries ////////*/

@media only screen and (min-width: 300px) and (max-width: 900px){
  body {
    background-image: url('./images/phil-sheldon-tone-short.jpg');
  }

  .social {
    margin-left: 80vw;
    }
}

@media only screen and (max-width: 400px) {
  .social {
    margin-left: 70vw;
    }
}

/* @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape){} */